<!DOCTYPE html>
<html>
    <head>
        <title>Single Page</title>
        <script>

            //  This function communicates with django (backend)
            
            function showSection(section) {   
                fetch(`/sections/${section}`)
                .then(response => response.text())
                .then(text => {
                    console.log(text);
                    document.querySelector('#content').innerHTML = text;
                });

            }


            document.addEventListener("DOMContentLoaded", function() {
                document.querySelectorAll('button').forEach(button => {
                    button.onclick = function() {
                        showSection(this.dataset.section)
                    }
                })
            });


        </script>
    </head>
    <body>
        <h1>Hello</h1>
        <button data-section="1">Upload directory</button>
        <button data-section="2">Scan S3</button>
        <button data-section="3">Scan open directory</button>

        <!-- Contents loaded from server is inserted here by javascript -->
        <div id="content">

        </div>
    
    </body>
</html>